// {
//   "presets": [[
//       "@babel/env",
//       {"modules": false}
//   ]],
//   "plugins": [
//     "syntax-dynamic-import",
//     "transform-runtime",
//     "transform-async-to-generator"
//   ]
// }