.LinkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.line {
  padding-left: 10px;
}
